{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="certifications">
    <h2 class="title">certifications</h2>
    {% for cer in certifications %}
        <div class="certifications-item">
            <div class="role">
                {{cer.role}}
            </div>
            <div class="company">
                {{cer.company}} 
                <span class="time">{{cer.time}}</span>
            </div> 
            <div class="details">{{cer.details}}</div>
        </div>
        
    {% endfor %}
</section>
{% endif %}