{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experience">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            <div class="company">
                {{exp.company}} 
                <span class="time">{{exp.time}}</span>
            </div> 
            <p class="technologies">Technologies Used: {{exp.technologies_used}}</p>
            {% for exd in exp.experience%}
            <div class="details">{{exd}}</div>
            {% endfor %}
        </div>       
    {% endfor %}
</section>
{% endif %}