{% assign scholarships = site.data.data.scholarships %}
{% if scholarships %}
<section class="scholarships">
    <h2 class="title">scholarships</h2>
    {% for awd in scholarships %}
        <div class="scholarships-item">
            <div class="role">
                {{awd.role}}
            </div>
            <div class="company">
                {{awd.company}} 
                <span class="time">{{awd.time}}</span>
            </div> 
            <div class="details">{{awd.details}}</div>
        </div>
        
    {% endfor %}
</section>
{% endif %}