:root {
    --bg-color: #f1f1f1;
    --bg-color-cv: #ffffff;
    --fg-color: #00629b;
    --fg-color-dark: #011520;
    --fg-color-body: #011520;
    --fg-color-title-sm: #011520;

}

[data-theme='dark'] {
    --bg-color: #28343b;
    --bg-color-cv: #1b262c;
    --fg-color: #3282b8;
    --fg-color-dark: #3282b8;
    --fg-color-body: #ffffff;
    --fg-color-title-sm: #f1f1f1;
}
