:root {
    --bg-color: #f1f1f1;
    --bg-color-cv: #ffffff;
    --fg-color: #00629b;
    --fg-color-dark: #000000;
    --fg-color-body: #000000;
    --fg-color-title-sm: #000000;

}

[data-theme='dark'] {
    --bg-color: #28343b;
    --bg-color-cv: #1b262c;
    --fg-color: #ffffff;
    --fg-color-dark: #ffffff;
    --fg-color-body: #ffffff;
    --fg-color-title-sm: #f1f1f1;
}
